.filters {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.filters select {
  background: #0c1d2c;
  color: var(--color-text-primary);
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  font-size: 1rem;
  cursor: pointer;
}
